<% if user_signed_in? and !current_user.admin? %>
<div class="menu">
    <ul class="list">
        <li class="header">MAIN MENU</li>
        <li class="active">
        <%= link_to root_path do %>
            <i class="material-icons">home</i>
            <span>Home</span>
        <% end %>
        </li>

        <li>
        <%= link_to exam_detail_exams_path(user: current_user.id) do %>
            <i class="material-icons">people</i>
            <span>Exam and Interview Results</span>
        <% end %>
        </li>
        <li>
            <%= link_to program_quotas_path do %>
                <i class="material-icons">list</i>
                <span>Available Program</span>
            <% end %>
        </li>

    </ul>
</div>
<% end %>