<div class="header">
<h2>
    <i class="material-icons">person</i>
    <span>Personal Information</span>
</h2>
</div>
<div class='row'>
    <div class='col-md-3 col-md-offset-1'>
        First Name
    </div>
    <div class='col-md-8'>
        <%= @applicant.first_name %>
    </div>
</div>

<div class='row'>
    <div class='col-md-3 col-md-offset-1'>
        Father Name
    </div>
    <div class='col-md-8'>
        <%= @applicant.father_name %>
    </div>
</div>

<div class='row'>
    <div class='col-md-3 col-md-offset-1'>
        Grand Father Name
    </div>
    <div class='col-md-8'>
        <%= @applicant.grand_father_name %>
    </div>
</div>

<div class='row'>
    <div class='col-md-3 col-md-offset-1'>
        Gender
    </div>
    <div class='col-md-8'>
        <%= @applicant.gender %>
    </div>
</div>