<div class="header">
<h2>
    <i class="material-icons">school</i>
    <span>University Choices</span>
</h2>
</div>
<table class="table">
<% unless @applicant.complete_university_choices.blank? %>
<% @applicant.complete_program_choices.each do |pc| %>
    <tr>
        <th colspan="2"><%= pc.choice_order.ordinalize %> - <%= pc.program %></th>
    </tr>
    
    <% pc.complete_university_choices.each do |uc| %>
        <tr>
            <td><%= uc.choice_order %></td>
            <td><%= uc.university %></td>
        </tr>
    <% end %>
<% end %>
<% end %>
</table>