<div class="header">
<h2>
    <i class="material-icons">school</i>
    <span>University Choices</span>
</h2>
</div>
<% @applicant.program_choices.each do |pc| %>
    <div class='row'>
        <div class='col-md-11 col-md-offset-1'>
            <label><%= pc.choice_order %> - <%= pc.program %></label>
        </div>
    </div>
    
    <% pc.university_choices.each do |uc| %>
        <div class='row'>
            <div class='col-md-2 col-md-offset-2'>
                <%= uc.choice_order %>
            </div>
            <div class='col-md-7'>
                <%= uc.university %>
            </div>
        </div>
    <% end %>
<% end %>