<h5>University Choices</h5>

<% unless @applicant.complete_university_choices.blank? %>
    <table border="1" width="100%" style="border-collapse: collapse">
      <% @applicant.complete_program_choices.each do |pc| %>
      <tr>
        <th colspan="3"><%= pc.program %></th>
      </tr>
          <% pc.complete_university_choices.each do |uc| %>
          <tr>
            <th><%= uc.choice_order.ordinalize %></th>
            <td><%= uc.university %></td>
          </tr>
          <% end %>
      <% end %>
    </table>
<% end %>