<% if current_user.admin? %>
    <div class="header">
      <h2>
        Academic Years
      </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @academic_years.each do |academic_year| %>
      <tr>
        <td><%= academic_year.name %></td>
        <td><%= academic_year.current_status %></td>
        <td><%= link_to 'Edit', edit_academic_year_path(academic_year) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Academic Year', new_academic_year_path, class: 'btn btn-primary' %>
<% end %>
</div>