<p id="notice"><%= notice %></p>

<p>
  <strong>Applicant:</strong>
  <%= @attachment.applicant %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
