/*
*= require sbadmin2/all
 *= require sbadmin2/sb-admin-2.min
 *= require sbadmin2/dataTables.bootstrap4.min
 *= require calendar/jquery.calendars.picker
 *= require calendar/redmond.calendars.picker
 *= require new_style.css
 *= require pagination
 *= require jquery.minicolors
 *= require bootstrap-wysihtml5
 */

.static-top{
  background-image: image-url("exh.png");
  background-repeat: repeat-x;
  background-position: bottom;
  color: #1c294e;
}