<%= content_for :header do %>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h3 class="h3 mb-0 text-gray-800"><%= title rescue nil %></h3>
    </div>
<% end %>
<div class="card shadow mb-4">
  <!-- Card Body -->
  <div class="card-body">
    <%= yield %>
  </div>
</div>